In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'A' : [1, 2, 3], 'B' : [4, 5, 6], 'C' : [7, 8, 9]})

In [3]:
df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [4]:
# it automatically print out how the dataframe would look like
# the 'print out' actually means the 'set_index' call is not happen in a 'in-place' manner
# it would not affect the original 'df'...unless you call through following way
# df = df.set_index('A')
df.set_index('A')

   B  C
A
1  4  7
2  5  8
3  6  9

In [5]:
# cause df was not actually changed, df.loc[1] still use the default index, which is the second row of df
df.loc[1]

A    2
B    5
C    8
Name: 1, dtype: int64

In [6]:
# df.set_index('A') does not change original df
df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [7]:
# when the 'inplace = True' is set, the original df would be changed 
df.set_index('A', inplace = True)

In [8]:
df

   B  C
A
1  4  7
2  5  8
3  6  9

In [10]:
# df points to the right row we expected
df.loc[1]

B    4
C    7
Name: 1, dtype: int64